

:root {
    --red: #EE3643;
    --red-logo: #b52933;
    --dark: #293449;
    --dark2: #32425C;
    --light-grey-icon: #B7BFC8;
    --light-grey-icon2: #C5C5C5;
    --light-grey-border: #F3F7F9;
    --light-grey-index: #F9F5F0;
    --light-grey-services: #F1F5F7;
    --light-price: #A9A9A9;
    --light-border: #EAEAEA;
    --light-grey-header: #f3f7f8;
    --opacity-white: rgba(255, 255, 255, 0.3);
    --opacity-grey: rgba(197, 197, 197, 0.3);
    --opacity-grey-dark: rgba(169, 169, 169, 0.3);
    --green: #63A63E;
    --white: #FFFFFF;
    --black: #000000;
    --yellow: #FFBF47;
    --yellow2: #FFC047;
    --dark-yellow: #FFD180;
    --dark-yellow2: #FFDA96;
    --blue: #3BBCE3;
    --purple: #DC91D8;
    --light-green: #8ED78F;
    /*стайлгайд*/
    --dark-red: #BA2732;
    --dark-red2: #CA2C37;
    --super-dark: #161D29;
    --shadow: rgba(0, 0, 0, 0.15);
    --dark3: #212A3A;
    --super-dark2: #1D2739;
    --bright-green: #5FBB2D;
    --dark-green: #518534;
    --active-white: rgba(255, 255, 255, 0.5);
    --dark-grey-blue: #3D546F;
    --dark3: #3D546F;
    --light-grey-sorting: #F7F3EC;

    /* не помню откуда их взяла, чуть позднее посмотрю, скорее всего со второй страницы
    --light-grey7: #E5E5E5;
    --light-grey8: #B5B5B5; */
}

/*общие*/

body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    background-color: var(--white);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}


.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }

/*шапка*/


.top-header {
    background-color: var(--dark);
}

.main-header-logo, 
.main-footer-logo {
    background-color: var(--red);
    box-shadow: 0px -5px 0px 0p var(--red-logo);
}

.main-header-logo:active {
    background-color: var(--dark-red);
}

.bookmarks, 
.shopping-cart, 
.ordering {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: var(--white);
}

.bookmarks:active {
    background-color: var(--super-dark);
}

.ordering:hover,
.ordering:focus {
    background-color: var(--bright-green);
}

.ordering:active, 
.site-search:active, 
.bookmarks:active, 
.shopping-cart:active {
    color: var(--active-white);
}

.store-description {
    font-family: 'Cuprum', Arial, sans-serif;
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    color: var(--red)
}

.main-header-contacts a {
    font-family: 'Cuprum', Arial, sans-serif;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    color: var(--red);
}

.main-header-contacts p {
    font-family: 'Cuprum', Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--dark2);
}

.user-block a {
    font-family: 'Cuprum', Arial, sans-serif;
    font-weight: 400;
    font-size: 21px;
    line-height: 21px;
    color: var(--black)
}

.ordering {
    background-color: var(--green);
}

.login-link:hover,
.login-link:focus,
.registration-link:hover,
.registration-link:focus {
    color: var(--red)
}

.login-link:active, 
.registration-link:active {
    color: var(--light2)
}

.main-header-navigation ul {
    list-style: none;
}

.main-header-navigation {
    background-color: var(--dark2);
}

.main-header-navigation a {
    font-family: 'Cuprum', Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: var(--white)
}

.main-header-navigation a:hover,
.main-header-navigation a:focus {
    background-color: var(--dark);
}

.main-header-navigation a:active {
    background-color: var(--super-dark2);
    color: var(--active-white)
}

/*промо-блок*/


.promo-item-title {
    font-family: 'Cuprum', Arial, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: var(--white)
}

.promo-item.materials {
    background-color: var(--yellow);
}

.promo-item.tool {
    background-color: var(--blue);
}

.promo-item.technics {
    background-color: var(--purple);
}

.promo-item.discounts {
    background-color: var(--light-green);
}

.promo-item.delivery {
    background-color: var(--yellow2);
}

.button-promo {
    background-color: var(--opacity-white);
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--white);
}

.button-promo:hover,
.button-promo:focus {
    background-color: var(--opacity-grey);
}

.button-promo:active {
background-color: var(--opacity-grey-dark);
}
   

.slider-title {
    font-family: 'Cuprum', Arial, sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    color: var(--white);
    text-transform: uppercase;
}

.slider-text {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: var(--white);
}

.button {
    background-color: var(--red);
    color: var(--white);
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
}

.slide a {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.slide a:hover,
.slide a:focus {
    background-color: var(--dark-red2);
}

.slide a:active {
    background-color: var(--dark-red);
}

/*index-section*/

.index-section-list{
    list-style: none;
}

.index-section-header {
    background-color: var(--light-grey-index);
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--dark2);
}

.product-title a {   
    color: var(--black);
}

.product-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
}

.product-old-price {
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--light-price)
}

.product-price {
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--red);
}


.product {
    border: 1px solid var(--light-border);
}

.partner {
    border: 1px solid var(--light-border);
    width: 220px;
    height: 145px;
}

.partner:hover,
.partner:focus,
.product:hover,
.product:focus {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.partner:active {
    opacity: 0.5;
}

.services {
    background-color: var(--light-grey-services)
}

.services-tabs-list{
    list-style: none;
}
.services-title, 
.about-title, 
.contacts-title {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.services-title p, 
.services-content p, 
.about-text, 
.contacts-title p {
    font-size: 13px;
    line-height: 24px;
    color: var(--black);
}

.services-tabs-button {
font-family: 'Cuprum', Arial, sans-serif;
font-weight: bold;
font-size: 21px;
line-height: 30px;
color: var(--white);
background-color: var(--dark2);
}

.services-tabs-button:hover,
.services-tabs-button:focus {
    background-color: var(--dark);
}

.services-tabs-button:active {
    background-color: var(--white);
    color: var(--dark2);
}

.about-list-item {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
}

.main-footer-navigation ul {
    list-style: none;
}

.navigation-block a, 
.main-footer-contacts {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
}

.navigation-block a:hover,
.navigation-block a:focus {
    text-decoration: underline;
}

.navigation-block a:active {
    opacity: 0.5;
}

.main-footer-text {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: var(--white);
}

.main-footer-text a:hover,
.main-footer-text a:focus {
    text-decoration: underline;
}

.main-footer-text a:active {
    color: var(--red);
    text-decoration: none;
}

.main-footer-contacts, 
.main-footer-contacts a {
    color: var(--light-grey-header)
}

.navigation-block.top a {
    color: var(--light-grey-services)
}

.bottom a, 
.main-footer-feedback a {
    color: var(--dark-yellow)
}

.main-footer {
    background-color: var(--dark2);
}

.main-footer-bottom {
    background-color: var(--dark);
}

.socials-list {
    list-style: none;
}

.socials a:hover, 
.socials a:active {
    background-color: var(--red);
}


