/* pt-sans-regular - latin_cyrillic */

@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'), url('..//fonts/ptsans.woff2') format('woff2'), /* Super Modern Browsers */
    url('..//fonts/ptsans.woff') format('woff'), /*Modern Browsers*/
}

/* pt-sans-700 - latin_cyrillic */

@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: local('PT Sans Bold'), local('PTSans-Bold'), url('..//fonts/ptsansbold.woff2') format('woff2'), /* Super Modern Browsers */
    url('..//fonts/ptsansbold.woff') format('woff'), /* Modern Browsers */
}

/* cuprum-regular - latin_cyrillic */

@font-face {
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 400;
    src: local('Cuprum'), url('..//fonts/cuprum.woff2') format('woff2'), /* Super Modern Browsers */
    url('..//fonts/cuprum.woff') format('woff'), /* Modern Browsers */
}

/* cuprum-700 - latin_cyrillic */

@font-face {
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 700;
    src: local('Cuprum bold'), url('..//fonts/cuprumbold.woff2') format('woff2'), /* Super Modern Browsers */
    url('..//fonts/cuprumbold.woff') format('woff'), /* Modern Browsers */
}

/* cuprum-italic - latin_cyrillic */

@font-face {
    font-family: 'Cuprum';
    font-style: italic;
    font-weight: 400;
    src: local('Cuprum italic'), url('..//fonts/cuprumitalic.woff2') format('woff2'), /* Super Modern Browsers */
    url('..//fonts/cuprumitalic.woff') format('woff'), /* Modern Browsers */
}

/* cuprum-700italic - latin_cyrillic */

@font-face {
    font-family: 'Cuprum';
    font-style: italic;
    font-weight: 700;
    src: local('Cuprum bold italic'), url('..//fonts/cuprumbolditalic.woff2') format('woff2'), /* Super Modern Browsers */
    url('..//fonts/cuprumbolditalic.woff') format('woff'), /* Modern Browsers */
}

:root {
    --red: #EE3643;
    --dark: #293449;
    --dark2: #32425C;
    --light: #B7BFC8;
    --light2: #C5C5C5;
    --light3: #F3F7F9;
    --light4: #F9F5F0;
    --light5: #F1F5F7;
    --light-price: #A9A9A9;
    --light-border: #EAEAEA;
    --green: #63A63E;
    --white: #FFFFFF;
    --black: #000000;
    --yellow: #FFBF47;
    --yellow2: #FFC047;
    --dark-yellow: #FFD180;
    --dark-yellow2: #FFDA96;
    --blue: #3BBCE3;
    --purple: #DC91D8;
    --light-green: #8ED78F;
    /*стайлгайд*/
    --dark-red: #BA2732;
    --dark-red2: #CA2C37;
    --super-dark: #161D29;
    --dark3: #212A3A;
    --super-dark2: #1D2739;
    --bright-green: #5FBB2D;
    --dark-green: #518534;
    --active-white: rgba(255, 255, 255, 0.5);
    --dark-grey-blue: #3D546F;
    --dark3: #3D546F;
    --light6: #F7F3EC;
    --light7: #E5E5E5;
    --light8: #B5B5B5;
}

/*общие*/

body {
    min-width: 940px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-white);
    background-color: var(--white);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

/*шапка*/

.top-header {
    background: var(--dark);
}

.main-header-logo {
    width: 220px;
    background: var(--red);
    box-shadow: 0px -5px 0px 0px #000000 24% inset;
    height: 47px;
    width: 220px;
    padding-top: 12px;
    padding-bottom: 17px;
    padding-left: 56px;
    padding-right: 56px;
}

.main-header-logo:active {
    background: var(--dark-red);
}

.bookmarks, .shopping-cart, .ordering {
    font-family: "Cuprum";
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: var(--white);
}

.bookmarks:active {
    background: var(--super-dark);
}

.ordering:hover {
    background: var(--bright-green);
}

.ordering:active, .site-search:active, .bookmarks:active, .shopping-cart:active {
    color: var(--active-white);
}

.store-description {
    font-family: 'Cuprum';
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: var(--red)
}

.contacts a {
    font-family: 'Cuprum';
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    color: var(--red);
}

.contacts p {
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--dark2);
}

.input-form a {
    font-family: 'Cuprum';
    font-weight: 400;
    font-size: 21px;
    line-height: 21px;
    color: var(--black)
}

.ordering {
    background: var(--green);
}

.login-link:hover, .registration-link:hover {
    color: var(--red)
}

.login-link:active, .registration-link:active {
    color: var(--light2)
}

.main-navigation {
    background: var(--dark2);
}

.main-navigation ul a {
    font-family: Cuprum;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: var(--white)
}

.main-navigation ul a:hover {
    background: var(--dark);
}

.main-navigation ul a:active {
    background: var(--super-dark2);
    color: var(--active-white)
}

/*промо-блок*/

.promo h3 {
    font-family: Cuprum;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: var(--white)
}

.materials {
    background: var(--yellow);
}

.tool {
    background: var(--blue);
}

.technics {
    background: var(--purple);
}

.discounts {
    background: var(--light-green);
}

.delivery {
    background: var(--yellow2);
}

.promo a {
    font-family: Cuprum;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    /*background: var(--white);*/
    color: var(--white)
}

.slide h3 {
    font-family: Cuprum;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    color: var(--white);
    text-transform: uppercase;
}

.slide p {
    font-family: Cuprum;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: var(--white);
}

.slide a {
    background: var(--red);
    color: var(--white);
    font-family: Cuprum;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.slide a:hover {
    background: var(--dark-red2);
}

.slide a:active {
    background: var(--dark-red);
}

.product-list li {
    border: 1px solid var(--light-border);
}

.product-list li:hover {
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.companies-list li:hover {
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.companies-list li:active {
    opacity: 0.5;
}